<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <context-param>
        <description>Logging flag</description>
        <param-name>logging</param-name>
        <param-value>@logging@</param-value>
    </context-param>

    <context-param>
        <description>OAuth2 Client ID</description>
        <param-name>oauth2_client_id</param-name>
        <param-value>@oauth2-client-id@</param-value>
    </context-param>

    <context-param>
        <description>OAuth2 Client Secret</description>
        <param-name>oauth2_client_secret</param-name>
        <param-value>@oauth2-client-secret@</param-value>
    </context-param>

    <context-param>
        <description>Application Base URI</description>
        <param-name>base_uri</param-name>
        <param-value>@base-uri@</param-value>
    </context-param>

    <context-param>
        <description>Key Password</description>
        <param-name>key_password</param-name>
        <param-value>@key-password@</param-value>
    </context-param>

    <context-param>
        <description>Keygen2 Key Management Key</description>
        <param-name>kg2_kmk</param-name>
        <param-value>@kg2-kmk@</param-value>
    </context-param>
    
    <listener>
        <listener-class>org.webpki.webapps.swedbank_psd2_saturn.LocalIntegrationService</listener-class>
    </listener>

    <servlet>
        <servlet-name>DebugServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.DebugServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.HomeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AuthorizeServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.AuthorizeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AccountsServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.AccountsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TBDServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.TBDServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestAuthorizeServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.api.TestAuthorizeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestAuthRedirectServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.api.TestAuthRedirectServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestBasicAccountServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.api.TestBasicAccountServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestExtendedAccountServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.api.TestExtendedAccountServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestSCAAccountSuccessServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.api.TestSCAAccountSuccessServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestSCAFailedServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.api.TestSCAFailedServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DebugServlet</servlet-name>
        <url-pattern>/debug</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AuthorizeServlet</servlet-name>
        <url-pattern>/authorize</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AccountsServlet</servlet-name>
        <url-pattern>/accounts</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TBDServlet</servlet-name>
        <url-pattern>/tbd</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestAuthorizeServlet</servlet-name>
        <url-pattern>/api.test</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestAuthRedirectServlet</servlet-name>
        <url-pattern>/api.authredirect</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestBasicAccountServlet</servlet-name>
        <url-pattern>/api.basicaccount</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestExtendedAccountServlet</servlet-name>
        <url-pattern>/api.extendedaccount</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestSCAAccountSuccessServlet</servlet-name>
        <url-pattern>/api.scaaccountsuccess</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestSCAFailedServlet</servlet-name>
        <url-pattern>/api.scafailed</url-pattern>
    </servlet-mapping>

    <security-constraint>
      <web-resource-collection>
        <web-resource-name>The app</web-resource-name>
        <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint>

</web-app>
