<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <context-param>
        <description>Logging flag</description>
        <param-name>logging</param-name>
        <param-value>@logging@</param-value>
    </context-param>

    <context-param>
        <description>OAuth2 Client ID</description>
        <param-name>oauth2_client_id</param-name>
        <param-value>@oauth2-client-id@</param-value>
    </context-param>

    <context-param>
        <description>OAuth2 Client Secret</description>
        <param-name>oauth2_client_secret</param-name>
        <param-value>@oauth2-client-secret@</param-value>
    </context-param>

    <context-param>
        <description>Test Merchant URI</description>
        <param-name>test_merchant_uri</param-name>
        <param-value>@test-merchant-uri@</param-value>
    </context-param>

    <context-param>
        <description>Use W3C PaymentRequest Flag</description>
        <param-name>use_w3c_payment_request</param-name>
        <param-value>@use-w3c-payment-request@</param-value>
    </context-param>

    <context-param>
        <description>W3C PaymentRequest URI</description>
        <param-name>w3c_payment_request_uri</param-name>
        <param-value>@w3c-payment-request-uri@</param-value>
    </context-param>

    <context-param>
        <description>Android Version Support</description>
        <param-name>android_webpki_versions</param-name>
        <param-value>@android-webpki-versions@</param-value>
    </context-param>
    
    <context-param>
        <description>SVG Card Image</description>
        <param-name>svg_card_image</param-name>
        <param-value>@svg-card-image@</param-value>
    </context-param>

    <context-param>
        <description>Bank (Application) Base URI</description>
        <param-name>bank_base_uri</param-name>
        <param-value>@bank-base-uri@</param-value>
    </context-param>

    <context-param>
        <description>Key Password</description>
        <param-name>key_password</param-name>
        <param-value>@key-password@</param-value>
    </context-param>

    <context-param>
        <description>Bank Common Name</description>
        <param-name>bank_common_name</param-name>
        <param-value>@bank-common-name@</param-value>
    </context-param>
    
    <context-param>
        <description>Bank Keygen2 Key Management Key</description>
        <param-name>bank_kg2kmk</param-name>
        <param-value>@bank-kg2kmk@</param-value>
    </context-param>

    <context-param>
        <description>Bank EE Certificate and Key</description>
        <param-name>bank_eecert</param-name>
        <param-value>@bank-eecert@</param-value>
    </context-param>

    <context-param>
        <description>Bank Encryption Key</description>
        <param-name>bank_encrypt</param-name>
        <param-value>@bank-encrypt@</param-value>
    </context-param>

    <context-param>
        <description>Fixed Client Payment Key</description>
        <param-name>fixed_client_payment_key</param-name>
        <param-value>@fixed-client-payment-key@</param-value>
    </context-param>

    <context-param>
        <description>Payment Root</description>
        <param-name>payment_root</param-name>
        <param-value>@payment-root@</param-value>
    </context-param>

    <context-param>
        <description>Acquirer Root</description>
        <param-name>acquirer_root</param-name>
        <param-value>@acquirer-root@</param-value>
    </context-param>
    <context-param>
        <description>Server TLS Certificate</description>
        <param-name>server_tls_certificate</param-name>
        <param-value>@server-tls-certificate@</param-value>
    </context-param>

    <context-param>
        <description>Saturn Extensions (JSON)</description>
        <param-name>saturn_extensions</param-name>
        <param-value>@saturn-extensions@</param-value>
    </context-param>

    <listener>
        <listener-class>org.webpki.webapps.swedbank_psd2_saturn.LocalIntegrationService</listener-class>
    </listener>

    <servlet>
        <servlet-name>DebugServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.DebugServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.HomeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AuthorizeServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.AuthorizeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AccountsServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.AccountsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProviderAuthorityServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.prv.ProviderAuthorityServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>KeyProviderInitServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.kg2.KeyProviderInitServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>KeyProviderServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.kg2.KeyProviderServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TBDServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.TBDServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestAuthorizeServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.api.TestAuthorizeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestAuthRedirectServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.api.TestAuthRedirectServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestBasicAccountServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.api.TestBasicAccountServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestExtendedAccountServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.api.TestExtendedAccountServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestSCAAccountSuccessServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.api.TestSCAAccountSuccessServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestSCAFailedServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.api.TestSCAFailedServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestPaymentSetupServlet</servlet-name>
        <servlet-class>org.webpki.webapps.swedbank_psd2_saturn.api.TestPaymentSetupServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DebugServlet</servlet-name>
        <url-pattern>/debug</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AuthorizeServlet</servlet-name>
        <url-pattern>/authorize</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AccountsServlet</servlet-name>
        <url-pattern>/accounts</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProviderAuthorityServlet</servlet-name>
        <url-pattern>/prv.authority</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>KeyProviderInitServlet</servlet-name>
        <url-pattern>/kg2.init</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>KeyProviderServlet</servlet-name>
        <url-pattern>/kg2.runner</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TBDServlet</servlet-name>
        <url-pattern>/tbd</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestAuthorizeServlet</servlet-name>
        <url-pattern>/api.test</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestAuthRedirectServlet</servlet-name>
        <url-pattern>/api.authredirect</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestBasicAccountServlet</servlet-name>
        <url-pattern>/api.basicaccount</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestExtendedAccountServlet</servlet-name>
        <url-pattern>/api.extendedaccount</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestSCAAccountSuccessServlet</servlet-name>
        <url-pattern>/api.scaaccountsuccess</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestSCAFailedServlet</servlet-name>
        <url-pattern>/api.scafailed</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestPaymentSetupServlet</servlet-name>
        <url-pattern>/api.paymentsetup</url-pattern>
    </servlet-mapping>

    <security-constraint>
      <web-resource-collection>
        <web-resource-name>The app</web-resource-name>
        <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint>

</web-app>
