body {
  width:100%;
  height:100%;
  margin:0;
  font-size:10pt;
  font-family:Verdana,'Bitstream Vera Sans','DejaVu Sans',Arial,'Liberation Sans';
}

html {
  width:100%;
  height:100%;
}

.displayContainer { 
  width:100%;
  height:100%;
  display:block;
  align-items:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

a {
  color:#5a7dff;
  text-decoration:none;
  outline:none;
}

li {
  padding-top:5pt
}

.description {
    padding:0 1em;
    max-width:40em;
}

.tftable {
  border-collapse:collapse;
  box-shadow:3pt 3pt 3pt #d0d0d0;
  margin-top:15pt;
}

.tftable tr {
  background-color:#ffffe0;
}

.tftable th {
  background:linear-gradient(to bottom, #eaeaea 14%,#fcfcfc 52%,#e5e5e5 89%);
  border-width:1px;
  padding:4pt 10pt 4pt 10pt;
  border-style:solid;
  border-color:#a9a9a9;
}

.tftable td {
  border-width:1px;
  padding:4pt 8pt 4pt 8pt;
  border-style:solid;
  border-color:#a9a9a9;
  white-space:nowrap;
}

.staticbox, .textbox {
  box-sizing:border-box;
  width:100%;word-break:break-all;
  border-width:1px;
  border-style:solid;
  border-color:grey;
  padding:10pt;
}

.staticbox {
  background:#f8f8f8;
}

.centerbox {
  display:flex;
  justify-content:center;
}

.textbox {
  background:#ffffea;
}

.error, .header, .error, .tftable th {
  text-align:center;
  font-weight:bolder;
  font-size:1.1em;
}

.error, .header {
  padding-bottom:1.2em;
}

.error {
  color:red;
}

.sitefooter {
  display:flex;
  align-items:center;
  border-width:1px 0 0 0;
  border-style:solid;
  position:absolute;
  z-index:5;
  left:0px;
  bottom:0px;
  right:0px;
  padding:0.5em 0.7em;
}

.multibtn {
  cursor:pointer;
  background:linear-gradient(to bottom, #eaeaea 14%,#fcfcfc 52%,#e5e5e5 89%);
  border-width:1px;
  border-style:solid;
  border-color:#a9a9a9;
  border-radius:5pt;
  padding:3pt 10pt;
}

.sigparmbox {
  border-radius:5pt;
  padding:0 5pt 5pt 5pt;
}

.sitefooter {
  border-color:#c85000;
  background-color:#fffcfc;
}

.multibtn {
  font-family:Arial,'Liberation Sans',Verdana,'Bitstream Vera Sans','DejaVu Sans';
  font-size:1.2em;
}

.multibtn, .staticbox, .textbox {
  box-shadow:3pt 3pt 3pt #d0d0d0;
}

.multibtn {
  margin-top:1.2em;
  text-align:center;
}

.cardselbtn {
  margin-left:0.5em;
  cursor:pointer;
  width:3em;
  height:1.5em;
  border-width:1pt;
  border-style:solid;
  border-radius:0.3em;
}

@media (max-width:768px) {

  .multibtn, .staticbox, .textbox {
    box-shadow:2pt 2pt 2pt #d0d0d0;
  }

}
